html, body {
  margin: 0;
  padding: 0;
  background: #0a0f44;
}
h1{
	position: absolute;
  	color: white;
	font-family: 'Baloo Bhaijaan';
	margin-left: 4%;
	margin-top: 2%;
}

#globe {
  cursor: move;  
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 8%;
}

#tweetprop {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}

